@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-color: #1F2937;
    --light-color: #F9FAF8;
    --blue-color: #3882F6;
    --secondary-light-color: #E5E7EB;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--blue-color);
    border-radius: 8px;
    color: var(--light-color);
    font-weight: bold;
    padding: 12px;
    transition-duration: 400ms;
}

.btn-primary:hover {
    background-color: var(--light-color);
    color: var(--blue-color);
}

.btn-secondary {
    background-color: #3882F6;
    color: var(--light-color);
    font-weight: bold;
    border: 1px solid var(--light-color);
    border-radius: 8px;
    padding: 12px;
    transition-duration: 400ms;
}

.btn-secondary:hover {
    background-color: var(--light-color);
    color: var(--blue-color);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* HEADER */
.header {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar a {
    font-size: 18px;
    color: var(--secondary-light-color);
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* HERO */
.hero {
    background-color: var(--dark-color);
    padding: 100px;
}

.hero-box {
    display: flex;
    gap: 18px;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: var(--light-color);
}

.hero-secondary-text {
    font-size: 18px;
    color: var(--secondary-light-color);
}